/* MealPlanSales.css */

.category-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-buttons button {
  margin: 5px;
  padding: 10px;
  background-color: gray;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-buttons button:hover {
  background-color: darkgray;
}

.category-buttons button.active {
  background-color: green;
}

.chart-container {
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  /* max-width: 800px; */
 
}
